extends layout/template_main
include mixins/transaction

block content2
    
    main
        br
        .container.contents.mb-3
            // Contents Header
            .row.contents-header
                .col-6
                    h3 전력 판매글
                .col-6.text-end
                    a.btn.btn-secondary(href=`/main/transaction${routes.write}`) 글 작성하기
            hr

            table.table.table-hover
                thead
                    tr
                        th.text-center(scope='col') 제목
                        th.text-center(scope='col') 거래 상태
                        th.text-center(scope='col') 글쓴이
                        th.text-center(scope='col') 작성일
                        th.text-center(scope='col') 판매량
                tbody#deal-list
                for item of articleList
                    +transaction(item)
            div
            .pagenation_container
                ul#pagination
    script.
        const paged = !{page};
        const NUMB = 10;
        const articleLen = !{articleLength};

        const pageSwapRequest = (pn) =>{
            console.log(pn);

            const xhr = new XMLHttpRequest();
            
            xhr.open("GET", 'http://localhost:3000/main/transaction'+'?page='+pn, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            //xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
            xhr.send(null);

            location.reload();
        }
        const pageNationing = e =>{
            const pageList = document.getElementById('pagination');

            for(let i = 0 ; i < Math.ceil(articleLen / 10) ; i++){
                pageList.innerHTML = pageList.innerHTML + `
                <a href ="/main/transaction?page=${i+1}"><li class='page ${i+1}' onclick ='pageSwapRequest(${i+1})'> ${i+1}</a> `
            }

            const nowPage = document.getElementsByClassName(`${paged}`);

         

            nowPage[0].style.backgroundColor = '#7b69ee';

            const text = nowPage[0].getElementsByTagName('a');
            text[0].style.color = 'white';


            const contents = document.getElementsByClassName('transactionContents');

            let articles = JSON.parse(JSON.stringify(!{forES}));

            for(let i = 0 ; i < contents.length; i++){

                if(articles[Math.floor(i/5)].status >= 2){
                    
                    console.log(contents[i]);
                    contents[i].style.color = 'grey';
                }
                
            }


            statusSetting();

       

          
        }

        const statusSetting = () =>{

            let articles = JSON.parse(JSON.stringify(!{forES}));

            const target = document.getElementsByClassName('transStatus');

            for(let i = 0 ; i < articles.length ; i++){
                
             
                if(articles[i].status == 1 || articles[i].status == 0){

                    target[i].innerHTML = '거래가능'
                    target[i].style.color = '#2541b2'
                    target[i].style.fontWeight = 'Bold'
                }
                else if(articles[i].status == 2 || articles[i].status == 3){

                    target[i].innerHTML = '거래 중'
                    target[i].style.color = '#e5d549'
                    target[i].style.fontWeight = 'Bold'
                }else{
                    target[i].innerHTML = '거래 완료'
                    target[i].style.color = '#f54748'
                    target[i].style.fontWeight = 'Bold'

                }
            }




        }


        
        window.addEventListener('load' , pageNationing)
      