
extends ./layout/template_main

block content2
    main
        br
        .container.contents.mb-3

            .row.contents-header.align-self-center#deal-header
                .col.align-self-center
                    h4 #{seller.name}님의 판매글
                .col.text-end.align-self-center
                    p.text-muted Created
                    p.text-muted #{data.createdAt}
            
            hr

            .row#deal-contents
                form(method='post' action ='/main/transaction'+routes.checkTrade(data.PK)).form-container
                    .form-container.deal-contents-container
                        .form-group
                            h5(for = 'transaction_amount').col-sm-2 판매량 (kw)
                            .align-self-center
                                if (user.PK == data.seller)
                                    input.modAmount(type='number' name ='amount' placeholder = data.amount)
                                else
                                    h5.clientView(name='amount' value =data.amount)= data.amount + 'Kw'
                        

                        .form-group
                            h5(for='transaction_amount').col-sm-2 판매 가격
                            .align-self-center
                                h5.price #{data.amount * 103}원

                        .form-group
                            h5(for='transaction_amount').col-sm-2 제목
                            .align-self-center
                                if (user.PK == data.seller)

                                    input.title(type='text' , name='title' value= data.title)
                                else
                                    h5.clientView(name= 'title' )= data.title

                        

                        .form-group
                            h5(for='transaction_amount').col-sm-2 내용
                            .align-self-center
                                if (user.PK == data.seller)
                                    textarea(name ='description') #{description}
                                else
                                    textarea.clientView(name= 'description' value= description readonly)= description
                                
                        

                        //- 판매자일 경우
                        if (user.PK == data.seller)
                            .request_containerM
                                input.btn.btn-danger.btn_custom(type='submit' value = '수정하기')

                
                        else
                            .request_container
                                input(type="number" name='purchase' placeholder ='구매량 입력(kw)')
                                button.btn.btn-secondary(type='submit') 구매요청
                if (user.PK == data.seller)
                    form#deletingForm(action="/main/transaction/deleteTransaction", method="post")
                        button.btn.btn-danger(onclick='handleDelete('+data.PK+')')  게시글 삭제

                        input(type='text' , value = data.PK , name='PK' ,style="display:none")

    script.
        const mod = document.getElementsByClassName('modAmount')[0];

        window.onload = () =>{
            const price = document.getElementsByClassName('price')[0];

            const reqAmount = e.target.value;
            let cnt = 0;
            let currentString = `${reqAmount *108}`;
            let length =  currentString.length;
            for(let i = currentString.length-1 ; i>= 0 ; i--){
                if(i== 0){
                    break;
                }
                cnt ++;
                if(cnt == 3){
                    currentString = currentString.slice(0,i) + ',' + currentString.slice(i,length);
                    length++;
                    cnt = 0;
                }
            }

            price.innerText = currentString +'원';

        }
        const handleModification = e =>{
            const price = document.getElementsByClassName('price')[0];

            const reqAmount = e.target.value;
            let cnt = 0;
            let currentString = `${reqAmount *108}`;
            let length =  currentString.length;
            for(let i = currentString.length-1 ; i>= 0 ; i--){
                if(i== 0){
                    break;
                }
                cnt ++;
                if(cnt == 3){
                    currentString = currentString.slice(0,i) + ',' + currentString.slice(i,length);
                    length++;
                    cnt = 0;
                }
            }

            price.innerText = currentString +'원';

        }
        mod.addEventListener('input' , handleModification);

       
        const handleDelete = (PK)=>{
            const form = document.getElementById('deletingForm');

            const userSelect = confirm('정말로 삭제하시겠습니까?');

            if(userSelect){
                form.submit();
            }

        }