
extends ./layout/template_main

block content2
    main
        br
        .container.contents.mb-3

            .row.contents-header.align-self-center#deal-header
                .col.align-self-center
                    h4 #{seller.name}님의 판매글
                .col.text-end.align-self-center
                    p.text-muted Created
                    p.text-muted #{data.createdAt}
            
            hr

            .row#deal-contents
                form(method='post' action ='/main/transaction'+routes.checkTrade(data.PK)).form-container
                    .form-container
                        .form-group.row
                            h5(for = 'transaction_amount').col-sm-2 판매량 (kw)
                            .col-sm-10.align-self-center
                                h5 #{data.amount}
                                input(type='number' default = data.amount name ='amount' style='display : none')
                        br

                        .row.form-group
                            h5(for='transaction_amount').col-sm-2 판매 가격
                            .col-sm-10.align-self-center
                                h5 #{data.amount * 103}원
                        br

                        .form-group.row
                            h5(for='transaction_amount').col-sm-2 내용
                            .col-sm-10.align-self-center
                                p #{data.description}
                        br

                        if (user.PK == data.seller)
                            .text-end
                                button.btn.btn-danger(type = "submit") 수정하기
                        else
                            .text-end
                                input(type="number" name='purchase' placeholder ='구매량 입력(kw)')
                                button.btn.btn-secondary(type='submit') 구매요청