header
  .container
    // Top Nav
    .blog-header
      .row.flex-nowrap.justify-content-between.align-items-center
        .col.pt-1.weather_position
          a#weather(href='https://weather.naver.com/')
        .col.align-items-center
          a(href=routes.main)
            img.logo_img(src='/assets/images/ourlogo.png')

          
        #log_out.col.d-flex.justify-content-end
          .menuList
            p.menu.customMenu 메뉴
            a(href=routes.logOut).logOut.customMenu
              p.img-pointer(data-bs-toggle='modal', data-bs-target='#LogOutModal')(style="padding-top:5px") 로그아웃
            a(href= '/main/transactionStatus' ).loading.customMenu
              p(style="padding-top:5px") 진행 상황

    div(style='border-top: 2px solid #555; padding-top:5px; margin-top: 10px;')

    // Route List
    .nav-scroller.py-1.mb-2
      nav.nav.d-flex.justify-content-between
        .col.text-center.align-self-center(style='border-right: 0px solid #555;')
          a(href=`/main`)
            if (topNav === 'remote')
              span.route-list.route-list-padding.route-list-activate
                img.route-img(src='/assets/images/remoter.png')
                | &nbsp&nbsp&nbsp&nbsp원격 제어
            else
              span.route-list.route-list-padding
                img.route-img(src='/assets/images/remoter.png')
                | &nbsp&nbsp&nbsp&nbsp원격 제어

        .col.text-center.align-self-center(style='border-right: 0px solid #555;')
          a(href=`/main${routes.transAction}`)
            if (topNav === 'transAction')
              span.route-list.route-list-padding.route-list-activate
                img.route-img(src='/assets/images/deal.png')
                | &nbsp&nbsp&nbsp&nbsp전력 거래소
            else
              span.route-list.route-list-padding
                img.route-img(src='/assets/images/deal.png')
                | &nbsp&nbsp&nbsp&nbsp전력 거래소

        .col.text-center.align-self-center
          a(href=`/main${routes.checkElec}`)
            if (topNav === 'checkElec')
              span.route-list.route-list-padding.route-list-activate
                img.route-img(src='/assets/images/checkd.png')
                | &nbsp&nbsp&nbsp&nbsp전력 확인
            else
              span.route-list.route-list-padding
                img.route-img(src='/assets/images/checkd.png')
                | &nbsp&nbsp&nbsp&nbsp전력 확인
  
  script.
    window.onload = () =>{
      const menu = document.getElementsByClassName('menuList')[0];
      const logout = document.getElementsByClassName('logOut')[0];
      const progress = document.getElementsByClassName('loading')[0];

      const listMenu = (e) => {
        logout.style.display = 'block';
        logout.style.opacity = '1';

        progress.style.display = 'block';
        progress.style.opacity = '1';

        /*
        menu.style.boxShadow = '1px 2px 3px grey';
        menu.style.backgroundColor = "#7b69ee";
        menu.style.color = '#f9f9f9';
        menu.style.border-color= 'black';
        */
      };

      const disableMenu = e =>{
        logout.style.opacity = '0';
        progress.style.opacity = '0';
        
      }
      const init = () =>{
        menu.addEventListener('mouseenter', listMenu);
        menu.addEventListener('mouseleave', disableMenu);
      }

      init();
    }