
mixin device(dv = {})
    .col
        .card.card_round
            div(align='right')
                i.fas.fa-cog.fa-lg.card_setting(onclick='requestRemoteSetting(#{dv.name}, #{dv.PK}, `0`)', data-bs-toggle='modal', data-bs-target='#SettingModal')

        
            
            if (dv.status)
                img#card_btn.card-img-remote.img-pointer(src='/assets/images/on_btn_img.png', onclick='requestRemoteOnOff(' + dv.PK + ')')
            else
                img#card_btn.card-img-remote.img-pointer(src='/assets/images/off_btn_img.png', onclick='requestRemoteOnOff(' + dv.PK + ')')

            .card-title.py-0
                h5.card-title.card_name #{dv.name}
                h1= dv.name


            

            .modal.fade(tabindex='-1', aria-hidden='true', aria-labelledby='SettingModalLabel')
                        .modal-dialog.modal-dialog-centered.modal_state
                            .modal-content
                                .modal-header(style='background: #505; color:white')
                                    h5#SettingModalLabel.modal-title 기기 관리
                                    button.btn-close.btn-close-white(type='button', data-bs-dismiss='modal', aria-label='Close')
                                
                                h1= dv.name
                                  
                                form(action='/main/saveDevice' method='post').modal-body
                                    h1= dv.name
                                    input(type='text' name='modName' value= dv.name style=" width: 100%")
                                    input(type='text' name ='name' style='display : none' value = dv.name)
                                    .modal-footer.deviceModal
                                        form(method = 'post' , action = '/main'+ routes.delete)
                                            input(style = 'display: none' , name = 'deleteTarget' value= dv.name)
                                            input.deviceDelete(type = 'submit' ,value = '삭제')
                                        button.btn.btn-outline-secondary(type='button', data-bs-dismiss='modal') 닫기
                                        input.btn.btn-outline-danger(type='submit', onClick="requestRemoteFix()" value='저장')