mixin transaction(data={})
    tr
        td.p-3.description(style='width: 45%')

            if (data.status >= 2)
                a(href = `#`)
                    span.transactionContents #{data.title}
            else
                a(href = `/main/transaction${routes.checkTrade(data.PK)}`)
                    span.transactionContents #{data.title}
        
        td.text-center.p-3.transactionContents(style='width: 15gk%')
            span.transStatus ##
        td.text-center.p-3.transactionContents(style='width: 15%') #{data.sellerName}
        td.text-center.p-3.transactionContents(style='width: 15%') #{data.createdAt}
        td.text-center.p-3.transactionContents(style='width: 10%') #{data.amount + `W`}
    